<div class="header">
  <div class="video" [innerHTML]="videoTag"></div>
  <div class="video-overlay"></div>
  <div class="names-heading">
    <h2>Chakri & Bhagya</h2>
    <h4>WE'RE GETTING MARRIED</h4>
  </div>
  <div class="save-the-date popup-save-the-date">
    <h4>Save the date</h4>
    <p class="date">01-MAY-2021</p>
  </div>
</div>
<section class="about-each-other">
  <div class="container">
    <div class="groom-section">
      <div class="row">
        <div class="col-md-6">
          <div class="groom-image">
            <img src="./assets/images/groom.png">
          </div>
        </div>
        <div class="col-md-6">
          <div class="about-wrapper">
            <h4>The Groom</h4>
            <p>Hi I am Chakri , dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
            <span class="signature">Chakri</span>
          </div>
        </div>
      </div>
    </div>
    <div class="bride-section">
      <div class="row">
        <div class="col-md-6">
          <div class="about-wrapper">
            <h4>The Bride</h4>
            <p>Hi I am Bhagya , dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
            <span class="signature">Bhagya</span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="bride-image">
            <img src="./assets/images/bride.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="count-down-section">
  <div class="video-overlay"></div>
  <div class="container">
    <div class="row">
        <div class=" col-md-4 col-xs-12">
            <h2><span>We are waiting for.....</span> The adventure</h2>
        </div>
        <div class=" col-md-7 col-md-offset-1 col-xs-12">
            <div class="count-down-clock">
                <div id="clock"><div class="box"><div id="days">{{seconds}}</div> <span>Days</span> </div><div class="box"><div id="hours">{{hours}}</div> <span>Hours</span> </div><div class="box"><div id="minutes">{{minutes}}</div> <span>Mins</span> </div><div class="box"><div id="seconds">{{seconds}}</div> <span>Secs</span> </div></div>
            </div>
        </div>
    </div> <!-- end row -->
</div>
</section>
<section class="our-love-stroy-section story-section">
  <div class="container">
    <div class="col col-xs-12">
      <div class="section-title">
          <div class="vertical-line"><span><i class="fi flaticon-two"></i></span></div>
          <h2>Our love story</h2>
      </div>
  </div>
  <div class="col col-xs-12">
    <div class="story-timeline">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="story-text right-align-text">
                    <h3>First meet</h3>
                    <span class="date">Jan 12 2017</span>
                    <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, </p>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="img-holder">
                    <img src="./assets/images/story1.png" alt="" class="img img-responsive">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col col-md-6">
              <div class="img-holder">
                <img src="./assets/images/story2.png" alt="" class="img img-responsive">
            </div>
            </div>
            <div class="col-12 col-md-6 text-holder">
                <span class="heart">
                    <i class="fa fa-heart"><img src="./assets/icons/love.svg"></i>
                </span>
                <div class="story-text">
                    <h3>First date</h3>
                    <span class="date">Feb 14 2017</span>
                    <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 text-holder right-heart">
                <span class="heart">
                    <i class="fa fa-heart"><img src="./assets/icons/love.svg"></i>
                </span>
                <div class="story-text right-align-text">
                    <h3>Proposal</h3>
                    <span class="date">Apr 14 2017</span>
                    <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, </p>
                </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="img-holder">
                <img src="./assets/images/story3.png" alt="" class="img img-responsive">
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
              <div class="img-holder">
                <img src="./assets/images/story4.png" alt="" class="img img-responsive">
            </div>
            </div>
            <div class="col-12 col-md-6 text-holder">
                <span class="heart">
                    <i class="fa fa-heart"><img src="./assets/icons/love.svg"></i>
                </span>
                <div class="story-text">
                    <h3>Enagagement</h3>
                    <span class="date">Jul 14 2017</span>
                    <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, </p>
                </div>
            </div>
        </div>
    </div>
</div>
  </div>
</section>
<section class="celebrating-love">
  <div class="video-overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col col-xs-12">
          <h2><span>We are going to...</span> Celebrate Our Love</h2>
      </div>
  </div>
  </div>
</section>
